<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>12732669818-600cmd58o33vblrgtb9ovr51doocl2dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12732669818-600cmd58o33vblrgtb9ovr51doocl2dv</string>
	<key>API_KEY</key>
	<string>AIzaSyBuy4N2BArO3NQm9a-e1GN8xqfQQHVmKac</string>
	<key>GCM_SENDER_ID</key>
	<string>12732669818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ColemanJustin.ColemanJustin-FinalProject</string>
	<key>PROJECT_ID</key>
	<string>final-project-user-test</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-user-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:12732669818:ios:fe6c16054bfa2cca</string>
	<key>DATABASE_URL</key>
	<string>https://final-project-user-test.firebaseio.com</string>
</dict>
</plist>
